html{
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}
.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #fff;
}

.payments{
  width: 50%;
  padding: 2%;
  float: left;
  border-right: 1px solid #fff;
  background: #9D50BB;  
  background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB); 
  background: linear-gradient(to top, #6E48AA, #9D50BB); 
}

.payments-form, .refunds-form{
  margin-top: 30%;
}

input{
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  font-size: 90%;
  font-family: inherit;
}

button{
  border: 3px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

button::after{
  width: 0%;
	height: 100%;
	top: 0;
	left: 0;
  background: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover, button:active{
  color: #9D50BB;
	background: #fff;  
}

button:hover:after,
button:active:after {
	width: 100%;
}

.pay_amount, .refund_amount{
  font-size: 140%;
}

.refunds{
  width: 50%;
  padding: 2%;
  float: left;
  background: #9D50BB;
  background: -webkit-linear-gradient(to top, #9D50BB, #6E48AA);
  background: linear-gradient(to top, #9D50BB, #6E48AA);
}
